*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background: url(../images/Background.jpg);
   background-size: cover;
}

.bg-card{
   
   backdrop-filter: blur(5px);
   color:#fff !important;
}


.card{
   width: 250px;
   height: 397px;
   background-color: #403D48;
   backdrop-filter: blur(5px);
   padding: 10px;
   transition: all 0.3s ease;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   border-radius: 10px;
   cursor: pointer;
}

.card:hover{
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
   background-color: rgba(255, 255, 255, 0.313);
   backdrop-filter: blur(3px);
}
.card-img{
   transition: inherit;
}

.card:hover .card-img{
transform: scale(0.9);
}

.card-time{
   font-size: 50px;
}

nav #icon
{
   color: white;
   font-size: 30px;
   line-height: 80px;
   float: right;
   margin-right: 40px;
   cursor: pointer;
}
@media (max-width: 1048px) {
   
   .row{
      background-color: #fff;
   }
   .logo{
      display: none;
   }
   .card-wrapper
   {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   #icon{
      display: none;
   }
   .col-12
   {
      background-color: #0B422D;
   }
   .hud::before
   {
      content: "Toshkent";
      color: #FFC700;
      margin-top: 20px;
   }
}
@media (max-width: 909px) {
    
   nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #0B422D;
   }
}

.table-l
{
   background: #fff;

}

.bg-active
{
   background-color: rgb(251, 251, 65);
   font-weight: bold;
}
/* .bg-active::after
{
   content: "BUGUN";
} */

.load-content{
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.903);
   backdrop-filter:blur(15px);
   position: fixed;
   top: 0;
   z-index: 10000;
   justify-content: center;
   display: flex;
   align-items:center;
   transition: all 0.4s ease-out;
   -webkit-transition: all 0.4s ease-out;
   -moz-transition: all 0.4s ease-out;
   -ms-transition: all 0.4s ease-out;
   -o-transition: all 0.4s ease-out;
}


@keyframes ldio-t55wzqnjo1b {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-t55wzqnjo1b div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-t55wzqnjo1b linear 1s infinite;
  background: #38a410;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.ldio-t55wzqnjo1b div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #fff;
}.ldio-t55wzqnjo1b div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #fff;
}.ldio-t55wzqnjo1b div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #fff;
}.ldio-t55wzqnjo1b div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #fff;
}.ldio-t55wzqnjo1b div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #fff;
}.ldio-t55wzqnjo1b div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #fff;
}.ldio-t55wzqnjo1b div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #fff;
}.ldio-t55wzqnjo1b div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #fff;
}.ldio-t55wzqnjo1b div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #fff;
}.ldio-t55wzqnjo1b div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #fff;
}.ldio-t55wzqnjo1b div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #fff;
}.ldio-t55wzqnjo1b div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #fff;
}
.loadingio-spinner-spinner-cc9sfok2u0a {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-t55wzqnjo1b {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-t55wzqnjo1b div { box-sizing: content-box; }

.hide
{
   transform: translateY(-200%);
   -webkit-transform: translateY(-200%);
   -moz-transform: translateY(-200%);
   -ms-transform: translateY(-200%);
   -o-transform: translateY(-200%);
}
/* generated by https://loading.io/ */
